.container-catalogs {
    margin: 50px;
    
}
.wrapper {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 6px;
    color: black;
}

@media (max-width: 1200px) {
    .wrapper {
        grid-template-columns: 33.333% 33.333% 33.333%;
        grid-gap: 10px;
    }
}

@media (max-width: 768px) {
    .wrapper {
        grid-template-columns: 50% 50%;
    }
}
@media (max-width: 576px) {
    .wrapper {
        grid-template-columns: 100%;
    }
}
