.blogItem-wraps {
    width: 100%;
    height: 100%;
    flex: 1;
    // border: solid 1px;
    border-radius: 12px;
    padding-right: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    h3 {
        margin: 0.5rem 0 1rem 0;
        flex: 1;
        padding-left: 10px;
        padding-right: 10px;
    }

    img {
        border-radius: 10px;
        width: 100%;
        height: 50%;
    }

    .katagori {
        margin-top: 5px;
        margin-left: 10px;
        display: flex;
        flex-direction: row;
        font-size: 0.7rem;
        background: linear-gradient(to right, #6190e8, #a7bfe8);
        color: #fff;
        padding: 0.3rem 0.5rem;
        border-radius: 5px;
        width: fit-content;
        text-transform: capitalize;
    }

    .description {
        position: relative;
        min-height: 50px;
        max-height: 50px;
        overflow: hidden;
        font-size: 0.8rem;
        padding-right: 0.6rem;
        color: #a9a9a9;
    }

    .description::before {
        position: absolute;
        content: "...";
        bottom: 0;
        right: 0;
    }

    .mid {
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: row;
    }
    .left {
        width: 100%;
    }

    p {
        font-size: 15px;
        font-weight: bold;
    }
    .right {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    div span {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    div span h5 {
        padding-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .location {
        position: relative;
        max-height: 50px;
        overflow: hidden;
        font-size: 0.9rem;
        padding-left: 0.2rem;
        color: black;
        font-weight: bold;
    }
    .date {
        position: relative;
        max-height: 50px;
        overflow: hidden;
        font-size: 0.9rem;
        padding-left: 0.2rem;
        color: #696969;
    }
    .btn-delete {
        width: 75%;
        max-width: 50px;
        min-width: 50px;
        height: 25px;
        border: none;
        margin: 1rem 0;
        box-shadow: 0px 14px 9px -15px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        background-color: #ff4742;
        color: #fff;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.2s ease-in;
        margin-right: 2px;
    }

    .btn-delete:hover {
        transform: translateY(-3px);
    }

    .btn-edit {
        width: 75%;
        max-width: 50px;
        min-width: 50px;
        height: 25px;
        border: none;
        margin: 1rem 0;
        box-shadow: 0px 14px 9px -15px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        background-color: #13aa52;
        color: #fff;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.2s ease-in;
        margin-right: 2px;
    }

    .btn-edit:hover {
        transform: translateY(-3px);
    }
}

.blogItem-wraps:hover {
    transform: translateY(-3px);
}

@media (max-width: 768px) {
    .blogItem-wraps {
        padding-right: 10px;
    }
}

@media (max-width: 576px) {
    .blogItem-wraps {
        padding-right: 0;
    }
}
